[submodule "external/nlzss"]
	path = external/nlzss
	url = https://github.com/magical/nlzss.git
[submodule "external/darctool"]
	path = external/darctool
	url = https://github.com/LITTOMA/darctool.git
